extends layout

block content
  h1= title
  p Welcome to #{title}


  table
  tbody
    tr
      td 
         | Name:   JACK STRAW
         br
         | Mobile: 9888776655
      td 
         br
         | Address: Fiddler No. 88 ,Shaw House
      td
        br
        | Email:    jacstraw@menstream.com
        br
        | Comment:  Bird nesting is the common hobby with English boys
        br
        | <h1>Real Time</h1>
        br
        | <table style="width: 500px;">
        | <tbody>
        |    <tr >
        |      <td colspan="2"><center>Status</center></td>
        |    </tr>
        |    <tr>
        |      <td>Return temp</td>
        |      <td id="returntemp"></td>
        |     </tr>
        |   </tbody>
        | </table>